$elegant-grid-defaults: (
  breakpoints: (
    sm: 'only screen and (min-width: 400px)',
    md: 'only screen and (min-width: 700px)',
    lg: 'only screen and (min-width: 1200px)',
  ),
  gutter: 1rem,
  columns: 12,
  selector-prefix: 'g-',
  debug: (
    color: #000,
    transparency: .4,
    grid-size: 1rem
  )
);

$elegant-grid: () !default;
$elegant-grid: map-merge($elegant-grid-defaults, $elegant-grid);

$elegant-grid-gutter: map-get($elegant-grid, 'gutter');
$elegant-grid-columns: map-get($elegant-grid, 'columns');
$elegant-grid-breakpoints: map-get($elegant-grid, 'breakpoints');
$elegant-grid-selector-prefix: map-get($elegant-grid, 'selector-prefix');
$elegant-grid-gutter-compensation: $elegant-grid-gutter * -.5;
$elegant-grid-debug: map-get($elegant-grid, 'debug');
$elegant-grid-debug-color: rgba(map-get($elegant-grid-debug, 'color'), map-get($elegant-grid-debug, 'transparency'));
$elegant-grid-debug-grid-size: map-get($elegant-grid-debug, 'grid-size');

@mixin row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $elegant-grid-gutter * -.5;
  margin-left: $elegant-grid-gutter * -.5;
}

@mixin row-debug {
  background-image: repeating-linear-gradient(to right, transparent 1px, transparent 1rem, $elegant-grid-debug-color calc(1rem + 1px), $elegant-grid-debug-color calc(1rem + 1px)), repeating-linear-gradient(to bottom, transparent 1px, transparent 1rem, $elegant-grid-debug-color calc(1rem + 1px), $elegant-grid-debug-color calc(1rem + 1px));
  background-size: 1rem 1rem;
}

@mixin row-reverse {
  flex-direction: row-reverse;
}

@mixin col {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: $elegant-grid-gutter * .5;
  padding-left: $elegant-grid-gutter * .5;
}

@mixin col-auto {
  @include col;

  flex-basis: auto;
}

@mixin col-even {
  @include col;

  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@mixin col-span($i) {
  @include col;

  flex-basis: 100% / $elegant-grid-columns * $i;
  max-width: 100% / $elegant-grid-columns * $i;
}

@mixin col-offset($i) {
  @include col;

  margin-left: 100% / $elegant-grid-columns * $i;
}

@mixin row-justify-start {
  justify-content: flex-start;
  text-align: start;
}

@mixin row-justify-center {
  justify-content: center;
  text-align: center;
}

@mixin row-justify-end {
  justify-content: flex-end;
  text-align: end;
}

@mixin row-align-top {
  align-items: flex-start;
  text-align: start;
}

@mixin row-align-center {
  align-items: center;
  text-align: center;
}

@mixin row-align-bottom {
  align-items: flex-end;
  text-align: end;
}

@mixin row-justify-around {
  justify-content: space-around;
}

@mixin row-justify-between {
  justify-content: space-between;
}

@mixin col-first {
  order: -1;
}

@mixin col-last {
  order: 1;
}
