.g-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  .g-row-debug {
    background-image: -webkit-repeating-linear-gradient(left, transparent 1px, transparent 1rem, rgba(0, 0, 0, 0.4) calc(1rem + 1px), rgba(0, 0, 0, 0.4) calc(1rem + 1px)), -webkit-repeating-linear-gradient(top, transparent 1px, transparent 1rem, rgba(0, 0, 0, 0.4) calc(1rem + 1px), rgba(0, 0, 0, 0.4) calc(1rem + 1px));
    background-image: repeating-linear-gradient(to right, transparent 1px, transparent 1rem, rgba(0, 0, 0, 0.4) calc(1rem + 1px), rgba(0, 0, 0, 0.4) calc(1rem + 1px)), repeating-linear-gradient(to bottom, transparent 1px, transparent 1rem, rgba(0, 0, 0, 0.4) calc(1rem + 1px), rgba(0, 0, 0, 0.4) calc(1rem + 1px));
    background-size: 1rem 1rem; }
  .g-row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.g-col {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

.g-col-1 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  max-width: 8.33333%; }

.g-col-2 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%; }

.g-col-3 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%; }

.g-col-4 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 33.33333%; }

.g-col-5 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  max-width: 41.66667%; }

.g-col-6 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%; }

.g-col-7 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%; }

.g-col-8 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  max-width: 66.66667%; }

.g-col-9 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%; }

.g-col-10 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%; }

.g-col-11 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  max-width: 91.66667%; }

.g-col-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%; }

.g-col-offset-0 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 0%; }

.g-col-offset-1 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 8.33333%; }

.g-col-offset-2 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 16.66667%; }

.g-col-offset-3 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 25%; }

.g-col-offset-4 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 33.33333%; }

.g-col-offset-5 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 41.66667%; }

.g-col-offset-6 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 50%; }

.g-col-offset-7 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 58.33333%; }

.g-col-offset-8 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 66.66667%; }

.g-col-offset-9 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 75%; }

.g-col-offset-10 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 83.33333%; }

.g-col-offset-11 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 91.66667%; }

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end; }

.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.col-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.col-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

@media only screen and (min-width: 400px) {
  .g-col-sm {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .g-col-sm-1 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .g-col-sm-2 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .g-col-sm-3 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; }
  .g-col-sm-4 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .g-col-sm-5 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .g-col-sm-6 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .g-col-sm-7 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .g-col-sm-8 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .g-col-sm-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%; }
  .g-col-sm-10 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .g-col-sm-11 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .g-col-sm-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .g-col-sm-offset-0 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 0%; }
  .g-col-sm-offset-1 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 8.33333%; }
  .g-col-sm-offset-2 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 16.66667%; }
  .g-col-sm-offset-3 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 25%; }
  .g-col-sm-offset-4 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 33.33333%; }
  .g-col-sm-offset-5 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 41.66667%; }
  .g-col-sm-offset-6 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 50%; }
  .g-col-sm-offset-7 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 58.33333%; }
  .g-col-sm-offset-8 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 66.66667%; }
  .g-col-sm-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 75%; }
  .g-col-sm-offset-10 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 83.33333%; }
  .g-col-sm-offset-11 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 91.66667%; }
  .justify-start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start; }
  .justify-center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .justify-end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end; }
  .align-top-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start; }
  .align-center-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .align-bottom-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: end; }
  .justify-around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .justify-between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .col-first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .col-last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media only screen and (min-width: 700px) {
  .g-col-md {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .g-col-md-1 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .g-col-md-2 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .g-col-md-3 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; }
  .g-col-md-4 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .g-col-md-5 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .g-col-md-6 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .g-col-md-7 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .g-col-md-8 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .g-col-md-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%; }
  .g-col-md-10 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .g-col-md-11 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .g-col-md-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .g-col-md-offset-0 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 0%; }
  .g-col-md-offset-1 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 8.33333%; }
  .g-col-md-offset-2 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 16.66667%; }
  .g-col-md-offset-3 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 25%; }
  .g-col-md-offset-4 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 33.33333%; }
  .g-col-md-offset-5 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 41.66667%; }
  .g-col-md-offset-6 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 50%; }
  .g-col-md-offset-7 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 58.33333%; }
  .g-col-md-offset-8 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 66.66667%; }
  .g-col-md-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 75%; }
  .g-col-md-offset-10 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 83.33333%; }
  .g-col-md-offset-11 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 91.66667%; }
  .justify-start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start; }
  .justify-center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .justify-end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end; }
  .align-top-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start; }
  .align-center-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .align-bottom-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: end; }
  .justify-around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .justify-between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .col-first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .col-last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media only screen and (min-width: 1200px) {
  .g-col-lg {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .g-col-lg-1 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .g-col-lg-2 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .g-col-lg-3 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; }
  .g-col-lg-4 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .g-col-lg-5 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .g-col-lg-6 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .g-col-lg-7 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .g-col-lg-8 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .g-col-lg-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%; }
  .g-col-lg-10 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .g-col-lg-11 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .g-col-lg-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .g-col-lg-offset-0 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 0%; }
  .g-col-lg-offset-1 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 8.33333%; }
  .g-col-lg-offset-2 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 16.66667%; }
  .g-col-lg-offset-3 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 25%; }
  .g-col-lg-offset-4 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 33.33333%; }
  .g-col-lg-offset-5 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 41.66667%; }
  .g-col-lg-offset-6 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 50%; }
  .g-col-lg-offset-7 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 58.33333%; }
  .g-col-lg-offset-8 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 66.66667%; }
  .g-col-lg-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 75%; }
  .g-col-lg-offset-10 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 83.33333%; }
  .g-col-lg-offset-11 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 91.66667%; }
  .justify-start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start; }
  .justify-center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .justify-end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end; }
  .align-top-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start; }
  .align-center-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .align-bottom-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: end; }
  .justify-around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .justify-between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .col-first-lg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .col-last-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mv-0 {
  margin-top: 0;
  margin-bottom: 0; }

.mh-0 {
  margin-left: 0;
  margin-right: 0; }

.m-1 {
  margin: 1rem; }

.mt-1 {
  margin-top: 1rem; }

.mr-1 {
  margin-right: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.mv-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mh-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.m-3 {
  margin: 3rem; }

.mt-3 {
  margin-top: 3rem; }

.mr-3 {
  margin-right: 3rem; }

.mb-3 {
  margin-bottom: 3rem; }

.ml-3 {
  margin-left: 3rem; }

.mv-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mh-3 {
  margin-left: 3rem;
  margin-right: 3rem; }

@media only screen and (min-width: 400px) {
  .m-sm-0 {
    margin: 0; }
  .mt-sm-0 {
    margin-top: 0; }
  .mr-sm-0 {
    margin-right: 0; }
  .mb-sm-0 {
    margin-bottom: 0; }
  .ml-sm-0 {
    margin-left: 0; }
  .mv-sm-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .mh-sm-0 {
    margin-left: 0;
    margin-right: 0; }
  .m-sm-1 {
    margin: 1rem; }
  .mt-sm-1 {
    margin-top: 1rem; }
  .mr-sm-1 {
    margin-right: 1rem; }
  .mb-sm-1 {
    margin-bottom: 1rem; }
  .ml-sm-1 {
    margin-left: 1rem; }
  .mv-sm-1 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mh-sm-1 {
    margin-left: 1rem;
    margin-right: 1rem; }
  .m-sm-3 {
    margin: 3rem; }
  .mt-sm-3 {
    margin-top: 3rem; }
  .mr-sm-3 {
    margin-right: 3rem; }
  .mb-sm-3 {
    margin-bottom: 3rem; }
  .ml-sm-3 {
    margin-left: 3rem; }
  .mv-sm-3 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .mh-sm-3 {
    margin-left: 3rem;
    margin-right: 3rem; } }

@media only screen and (min-width: 700px) {
  .m-md-0 {
    margin: 0; }
  .mt-md-0 {
    margin-top: 0; }
  .mr-md-0 {
    margin-right: 0; }
  .mb-md-0 {
    margin-bottom: 0; }
  .ml-md-0 {
    margin-left: 0; }
  .mv-md-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .mh-md-0 {
    margin-left: 0;
    margin-right: 0; }
  .m-md-1 {
    margin: 1rem; }
  .mt-md-1 {
    margin-top: 1rem; }
  .mr-md-1 {
    margin-right: 1rem; }
  .mb-md-1 {
    margin-bottom: 1rem; }
  .ml-md-1 {
    margin-left: 1rem; }
  .mv-md-1 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mh-md-1 {
    margin-left: 1rem;
    margin-right: 1rem; }
  .m-md-3 {
    margin: 3rem; }
  .mt-md-3 {
    margin-top: 3rem; }
  .mr-md-3 {
    margin-right: 3rem; }
  .mb-md-3 {
    margin-bottom: 3rem; }
  .ml-md-3 {
    margin-left: 3rem; }
  .mv-md-3 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .mh-md-3 {
    margin-left: 3rem;
    margin-right: 3rem; } }

@media only screen and (min-width: 1200px) {
  .m-lg-0 {
    margin: 0; }
  .mt-lg-0 {
    margin-top: 0; }
  .mr-lg-0 {
    margin-right: 0; }
  .mb-lg-0 {
    margin-bottom: 0; }
  .ml-lg-0 {
    margin-left: 0; }
  .mv-lg-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .mh-lg-0 {
    margin-left: 0;
    margin-right: 0; }
  .m-lg-1 {
    margin: 1rem; }
  .mt-lg-1 {
    margin-top: 1rem; }
  .mr-lg-1 {
    margin-right: 1rem; }
  .mb-lg-1 {
    margin-bottom: 1rem; }
  .ml-lg-1 {
    margin-left: 1rem; }
  .mv-lg-1 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .mh-lg-1 {
    margin-left: 1rem;
    margin-right: 1rem; }
  .m-lg-3 {
    margin: 3rem; }
  .mt-lg-3 {
    margin-top: 3rem; }
  .mr-lg-3 {
    margin-right: 3rem; }
  .mb-lg-3 {
    margin-bottom: 3rem; }
  .ml-lg-3 {
    margin-left: 3rem; }
  .mv-lg-3 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .mh-lg-3 {
    margin-left: 3rem;
    margin-right: 3rem; } }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.pv-0 {
  padding-top: 0;
  padding-bottom: 0; }

.ph-0 {
  padding-left: 0;
  padding-right: 0; }

.p-1 {
  padding: 1rem; }

.pt-1 {
  padding-top: 1rem; }

.pr-1 {
  padding-right: 1rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pl-1 {
  padding-left: 1rem; }

.pv-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.ph-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.p-3 {
  padding: 3rem; }

.pt-3 {
  padding-top: 3rem; }

.pr-3 {
  padding-right: 3rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pl-3 {
  padding-left: 3rem; }

.pv-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.ph-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

@media only screen and (min-width: 400px) {
  .p-sm-0 {
    padding: 0; }
  .pt-sm-0 {
    padding-top: 0; }
  .pr-sm-0 {
    padding-right: 0; }
  .pb-sm-0 {
    padding-bottom: 0; }
  .pl-sm-0 {
    padding-left: 0; }
  .pv-sm-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .ph-sm-0 {
    padding-left: 0;
    padding-right: 0; }
  .p-sm-1 {
    padding: 1rem; }
  .pt-sm-1 {
    padding-top: 1rem; }
  .pr-sm-1 {
    padding-right: 1rem; }
  .pb-sm-1 {
    padding-bottom: 1rem; }
  .pl-sm-1 {
    padding-left: 1rem; }
  .pv-sm-1 {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .ph-sm-1 {
    padding-left: 1rem;
    padding-right: 1rem; }
  .p-sm-3 {
    padding: 3rem; }
  .pt-sm-3 {
    padding-top: 3rem; }
  .pr-sm-3 {
    padding-right: 3rem; }
  .pb-sm-3 {
    padding-bottom: 3rem; }
  .pl-sm-3 {
    padding-left: 3rem; }
  .pv-sm-3 {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .ph-sm-3 {
    padding-left: 3rem;
    padding-right: 3rem; } }

@media only screen and (min-width: 700px) {
  .p-md-0 {
    padding: 0; }
  .pt-md-0 {
    padding-top: 0; }
  .pr-md-0 {
    padding-right: 0; }
  .pb-md-0 {
    padding-bottom: 0; }
  .pl-md-0 {
    padding-left: 0; }
  .pv-md-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .ph-md-0 {
    padding-left: 0;
    padding-right: 0; }
  .p-md-1 {
    padding: 1rem; }
  .pt-md-1 {
    padding-top: 1rem; }
  .pr-md-1 {
    padding-right: 1rem; }
  .pb-md-1 {
    padding-bottom: 1rem; }
  .pl-md-1 {
    padding-left: 1rem; }
  .pv-md-1 {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .ph-md-1 {
    padding-left: 1rem;
    padding-right: 1rem; }
  .p-md-3 {
    padding: 3rem; }
  .pt-md-3 {
    padding-top: 3rem; }
  .pr-md-3 {
    padding-right: 3rem; }
  .pb-md-3 {
    padding-bottom: 3rem; }
  .pl-md-3 {
    padding-left: 3rem; }
  .pv-md-3 {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .ph-md-3 {
    padding-left: 3rem;
    padding-right: 3rem; } }

@media only screen and (min-width: 1200px) {
  .p-lg-0 {
    padding: 0; }
  .pt-lg-0 {
    padding-top: 0; }
  .pr-lg-0 {
    padding-right: 0; }
  .pb-lg-0 {
    padding-bottom: 0; }
  .pl-lg-0 {
    padding-left: 0; }
  .pv-lg-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .ph-lg-0 {
    padding-left: 0;
    padding-right: 0; }
  .p-lg-1 {
    padding: 1rem; }
  .pt-lg-1 {
    padding-top: 1rem; }
  .pr-lg-1 {
    padding-right: 1rem; }
  .pb-lg-1 {
    padding-bottom: 1rem; }
  .pl-lg-1 {
    padding-left: 1rem; }
  .pv-lg-1 {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .ph-lg-1 {
    padding-left: 1rem;
    padding-right: 1rem; }
  .p-lg-3 {
    padding: 3rem; }
  .pt-lg-3 {
    padding-top: 3rem; }
  .pr-lg-3 {
    padding-right: 3rem; }
  .pb-lg-3 {
    padding-bottom: 3rem; }
  .pl-lg-3 {
    padding-left: 3rem; }
  .pv-lg-3 {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .ph-lg-3 {
    padding-left: 3rem;
    padding-right: 3rem; } }
