$est-spacing-defaults: (
  prefix: 'est',
  spacers: (
    '0': 0,
    '1': 1rem,
    '3': 3rem
  ),
  breakpoints: (
    sm: 'only screen and (min-width: 400px)',
    md: 'only screen and (min-width: 700px)',
    lg: 'only screen and (min-width: 1200px)',
  ),
);

$est-spacing: () !default;
$est-spacing: map-merge($est-spacing-defaults, $est-spacing);

$est-spacing-breakpoints: map-get($est-spacing, 'breakpoints');
$est-spacing-prefix: map-get($est-spacing, 'prefix');
$est-spacers: map-get($est-spacing, 'spacers');
$est-spacer-keys: map-keys($est-spacers);

@function contains($list, $item) {
  @if index($list, $item) { @return true; }
  @return false;
}

@function est-spacing($key) {
  @if contains($est-spacer-keys, $key + '') {
    @return map-get($est-spacers, $key + '');
  }
  @error 'elegant-sass-things error: ' + $key + ' is an invalid spacer. You must use one of the following values when calling est-spacing: ' + $est-spacer-keys + ' You can configure this list in the $est-spacing config map.';
}
