@mixin generate-est-spacing-margin-column-classes($name: null) {
  $name-token: '';
  @if ($name) {
    $name-token: '-' + $name;
  }

  $prefix-token: '';

  @each $spacer-key in $est-spacer-keys {
    $modifier: $spacer-key;

    .#{$prefix-token}m#{$name-token}--#{$modifier} {
      margin: est-spacing($spacer-key);
    }

    .#{$prefix-token}m-t#{$name-token}--#{$modifier} {
      margin-top: est-spacing($spacer-key);
    }

    .#{$prefix-token}m-r#{$name-token}--#{$modifier} {
      margin-right: est-spacing($spacer-key);
    }

    .#{$prefix-token}m-b#{$name-token}--#{$modifier} {
      margin-bottom: est-spacing($spacer-key);
    }

    .#{$prefix-token}m-l#{$name-token}--#{$modifier} {
      margin-left: est-spacing($spacer-key);
    }

    .#{$prefix-token}m-v#{$name-token}--#{$modifier} {
      margin-bottom: est-spacing($spacer-key);
      margin-top: est-spacing($spacer-key);
    }

    .#{$prefix-token}m-h#{$name-token}--#{$modifier} {
      margin-left: est-spacing($spacer-key);
      margin-right: est-spacing($spacer-key);
    }
  }
}

@mixin generate-est-spacing-padding-column-classes($name: null) {
  $name-token: '';
  @if ($name) {
    $name-token: '-' + $name;
  }

  $prefix-token: '';

  @each $spacer-key in $est-spacer-keys {
    $modifier: $spacer-key;

    .#{$prefix-token}p#{$name-token}--#{$modifier} {
      padding: est-spacing($spacer-key);
    }

    .#{$prefix-token}p-t#{$name-token}--#{$modifier} {
      padding-top: est-spacing($spacer-key);
    }

    .#{$prefix-token}p-r#{$name-token}--#{$modifier} {
      padding-right: est-spacing($spacer-key);
    }

    .#{$prefix-token}p-b#{$name-token}--#{$modifier} {
      padding-bottom: est-spacing($spacer-key);
    }

    .#{$prefix-token}p-l#{$name-token}--#{$modifier} {
      padding-left: est-spacing($spacer-key);
    }

    .#{$prefix-token}p-v#{$name-token}--#{$modifier} {
      padding-bottom: est-spacing($spacer-key);
      padding-top: est-spacing($spacer-key);
    }

    .#{$prefix-token}p-h#{$name-token}--#{$modifier} {
      padding-left: est-spacing($spacer-key);
      padding-right: est-spacing($spacer-key);
    }
  }
}

@mixin generate-est-spacing-margin-classes {
  @include generate-est-spacing-margin-column-classes;

  @each $breakpoint-name, $breakpoint-media-query in $est-spacing-breakpoints {
    @media #{$breakpoint-media-query} {
      @include generate-est-spacing-margin-column-classes($name: $breakpoint-name);
    }
  }
}

@mixin generate-est-spacing-padding-classes {
  @include generate-est-spacing-padding-column-classes;

  @each $breakpoint-name, $breakpoint-media-query in $est-spacing-breakpoints {
    @media #{$breakpoint-media-query} {
      @include generate-est-spacing-padding-column-classes($name: $breakpoint-name);
    }
  }
}
