@mixin generate-elegant-spacing-margin-column-classes($name: null) {
  $name-token: '';
  @if ($name) {
    $name-token: '-' + $name;
  }

  @each $mult in $elegant-spacing-multiples {
    $modifier: elegant-multiple-modifier($mult);
    $value: elegant-multiple-value($mult);

    .m#{$name-token}-#{$modifier} {
      @include margin($value);
    }

    .mt#{$name-token}-#{$modifier} {
      @include margin-top($value);
    }

    .mr#{$name-token}-#{$modifier} {
      @include margin-right($value);
    }

    .mb#{$name-token}-#{$modifier} {
      @include margin-bottom($value);
    }

    .ml#{$name-token}-#{$modifier} {
      @include margin-left($value);
    }

    .mv#{$name-token}-#{$modifier} {
      @include margin-vertical($value);
    }

    .mh#{$name-token}-#{$modifier} {
      @include margin-horizontal($value);
    }
  }
}

@mixin generate-elegant-spacing-padding-column-classes($name: null) {
  $name-token: '';
  @if ($name) {
    $name-token: '-' + $name;
  }

  @each $mult in $elegant-spacing-multiples {
    $modifier: elegant-multiple-modifier($mult);
    $value: elegant-multiple-value($mult);

    .p#{$name-token}-#{$modifier} {
      @include padding($value);
    }

    .pt#{$name-token}-#{$modifier} {
      @include padding-top($value);
    }

    .pr#{$name-token}-#{$modifier} {
      @include padding-right($value);
    }

    .pb#{$name-token}-#{$modifier} {
      @include padding-bottom($value);
    }

    .pl#{$name-token}-#{$modifier} {
      @include padding-left($value);
    }

    .pv#{$name-token}-#{$modifier} {
      @include padding-vertical($value);
    }

    .ph#{$name-token}-#{$modifier} {
      @include padding-horizontal($value);
    }
  }
}

@mixin generate-elegant-spacing-margin-classes {
  @include generate-elegant-spacing-margin-column-classes;

  @each $breakpoint-name, $breakpoint-media-query in $elegant-spacing-breakpoints {
    @media #{$breakpoint-media-query} {
      @include generate-elegant-spacing-margin-column-classes($name: $breakpoint-name);
    }
  }
}

@mixin generate-elegant-spacing-padding-classes {
  @include generate-elegant-spacing-padding-column-classes;

  @each $breakpoint-name, $breakpoint-media-query in $elegant-spacing-breakpoints {
    @media #{$breakpoint-media-query} {
      @include generate-elegant-spacing-padding-column-classes($name: $breakpoint-name);
    }
  }
}
